<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./app.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Baloo Bhai:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="cover-frame">
      <div class="vector-parent">
        <img class="group-child" alt="" src="../assets/valorant.jpg" /><img
          class="image-1-icon"
          alt=""
          src="../assets/valorant.jpg"
        />
        <div class="valorant-comics">Valorant Comics</div>
      </div>
      <div class="created-by-fausto-neris">Created By Fausto Neris</div>
      <div class="homepage">
        <div class="hero-section">
          <header class="top-header">
            <div class="top-container">
              <div class="logo-icon"></div>
              <div class="navigation-right">
                <div class="navigation-menu">
                  <div class="listar-personagens">Listar Personagens</div>
                </div>
              </div>
            </div>
          </header>
          <div class="search-section">
            <div class="banner-gradient"></div>
            <img
              class="banner-background"
              alt=""
              src="../assets/omen.png"
            />
            <div class="search-container">
              <div class="title">
                <div class="pesquise-pelo-seu-personagem">
                  Busque seu personagem preferido!
                </div>
                <div class="coloque-o-nome-do-seu-personag">
                  Coloque o nome do seu personagem preferido e veja tudo sobre
                  ele.
                </div>
              </div>
              <div class="search-form">
                <div class="inputs-row">
                  <div class="input-group">
                    <div class="departure-field">
                      <div class="input">
                        <div class="label-container">
                          <div class="personagem">Personagem</div>
                        </div>
                        <div class="active">
                          <div class="muiautocompletetag">
                            <div class="chip">
                              <div class="container">
                                <div class="avatar">
                                  <div class="op">F</div>
                                </div>
                                <div class="typography">
                                  <div class="chip1">Chip</div>
                                </div>
                                <img
                                  class="cancel-icon"
                                  alt=""
                                  src="public/cancel.svg"
                                />
                              </div>
                            </div>
                            <div class="chip">
                              <div class="container">
                                <div class="avatar">
                                  <div class="op">F</div>
                                </div>
                                <div class="typography">
                                  <div class="chip1">Chip</div>
                                </div>
                                <img
                                  class="cancel-icon"
                                  alt=""
                                  src="public/cancel1.svg"
                                />
                              </div>
                            </div>
                          </div>
                            <input class="character" type="text"  />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="button-group">
                  <div class="search-flights-button">
                    <div class="button">Buscar</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="home-contents">
          <div class="upcoming-flight-section">
            <b class="sobre-seu-personagem">Sobre seu personagem</b>
            <div class="flight-details">
              <div class="line-separator"></div>
              <div class="prepare-menu">
                <div class="habilidades">HABILIDADES</div>
                <div class="trip-menus">
                  <button class="hotel">
                    <img class="hotel-child" alt="" src="public/group-21.svg" />
                    <div class="q"><p class="q1">Q</p></div></button
                  ><button class="hotel">
                    <div class="hotel-child">
                      <div class="group-item"></div>
                      <img class="group-icon" alt="" src="public/group.svg" />
                    </div>
                    <div class="e">E</div></button
                  ><button class="hotel">
                    <img
                      class="hotel-child"
                      alt=""
                      src="public/group-211.svg"
                    />
                    <div class="c">C</div></button
                  ><button class="hotel">
                    <div class="hotel-child">
                      <div class="group-inner"></div>
                      <img class="vector-icon" alt="" src="public/vector.svg" />
                    </div>
                    <div class="x">X</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
